body {
  background-image: url("images/coffee-background.jpg");
  background-repeat: no;
  background-size: 100% 100%;
  background-attachment: fixed;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.head {
  text-align: center;
  margin-top: 100px 0%;
}

.head h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.searchhead {
  text-align: center;
  color: white;
}

.head h2 {
  font-size: 1.8rem;
  color: #8ee678;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.navigation a {
  text-decoration: none;
  color: #f7f4f4;
  font-weight: bold;
  padding: 10px 20px;
  border: 4px solid #301707;
  margin-right: 10px;
}

.navigation a:hover {
  background-color: #b97633;
}

/* Image styles */
.head img {
  width: 40%;
  height: 30%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: left;

  margin: 0 auto;
}

/* Random coffee button styles */
.random-coffee {
  text-align: center;
  margin-top: 50px;
}

.random-coffee button {
  color: #0a0a0a;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.random-coffee button:hover {
  background-color: #b97633;
}

.coffee-list {
  
  color: white;
  display: grid;
  margin-left: 20px;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.coffee-item img {
  float: inline-end;
}
span {
  color: #8ee678;
}

.ingredient-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: whitesmoke;
}
.coffee-type {
  display: inline-block;
  color: whitesmoke;
  margin-left: 30px;
}
.ingredients {
  color: white;
  margin-left: 30px;
}
.searchbutton {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.button {
  font-size: large;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border: 4px solid #301707;
  margin-right: 10px;
}
.button:hover {
  background-color: #b97633;
}

.coffee-results {
  margin-left: 30px;
  color: #f7f4f4;
  overflow-y: auto;
  max-height: 300px;
}
